.title {
  text-align: center;
  font-size: 6rem;
  margin: 0;
  font-family: 'Lobster', cursive;
  color: rgb(204, 109, 190);
}
.fa-puzzle-piece {
  color: rgb(112, 112, 212);
  height: 60px;
  position: fixed;
  margin-left: 20px;
}

.App {
  display: flex;
  justify-content: center;
  height: 40rem;
  width: 67rem;
  align-items: center;
}
