.title {
  text-align: center;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  color: rgb(204, 109, 190);
  margin-bottom: 10px;
  @media all and (min-width: 768px) {
    font-size: 4rem;
    margin: 10px;
  }
  @media all and (min-width: 1024px) {
    font-size: 6rem;
    margin: 0;
  }
}
.fa-puzzle-piece {
  color: rgb(112, 112, 212);
  height: 60px;
  margin-left: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 768px) {
    margin-top: 20px;
  }
  @media all and (min-width: 1024px) {
    background-size: cover;
    flex-direction: row;
    height: 35rem;
    width: 65rem;
    justify-content: center;
  }
}
.hidden {
  display: none;
}

.win {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  text-align: center;
  @media all and (min-width: 1024px) {
    margin-top: 30px;
    font-size: 22px;
  }
}
.fa-trophy {
  color: yellow;
  margin-left: 20px;
  font-size: 20px;
}
