.board {
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;

  height: 30rem;
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 6px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.pretty {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
