.board {
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;
  height: 20rem;
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  @media all and (min-width: 768px) {
    height: 25rem;
    width: 25rem;
  }
  @media all and (min-width: 1024px) {
    height: 30rem;
    width: 30rem;
    margin-right: 30px;
    margin-bottom: 60px;
  }
}

.pretty {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
